.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 20px;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
}

h1 {
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 15px;
  max-width: 15rem;
}

h1 span {
  font-weight: 200;
  color: #ce9797;
}

p {
  color: #ce9797;
  max-width: 30rem;
  line-height: 1.4;
}

input {
  padding: 10px;
  border-radius: 2rem;
  border: 1px solid #ce9797;
  width: 23rem;
}

button {
  padding: 5px 20px;
  border-radius: 2rem;
  border: none;
  background-image: Linear, 135deg, from #f8bfbf, to #ee8c8c;
}

.email {
  position: relative;
}

input {
  font-size: 16px;
  padding: 15px 30px;
  height: 55px;
  color: transparent;
  width: 100%;
}

.btn:hover {
  opacity: 0.6;
}

.btn {
  padding: 15px;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  width: 100px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-box-shadow: 2px 5px 10px rgba(206, 151, 151, 0.5);
          box-shadow: 2px 5px 10px rgba(206, 151, 151, 0.5);
  cursor: pointer;
}

form.error .error-icon {
  display: block;
}

form.error .error-small {
  display: block;
}

.error-icon {
  display: none;
  position: absolute;
  top: 15px;
  right: 120px;
}

form.success .success-small {
  display: block;
  color: green;
}

small {
  display: none;
  margin-top: 20px;
  margin-left: 30px;
  font-weight: 400;
  color: #f96262;
  font-size: 16px;
}

input:focus {
  outline: none;
}

input:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(206, 151, 151, 0.5);
          box-shadow: 0px 0px 10px rgba(206, 151, 151, 0.5);
}

input::-webkit-input-placeholder {
  color: #ce9797;
}

input:-ms-input-placeholder {
  color: #ce9797;
}

input::-ms-input-placeholder {
  color: #ce9797;
}

input::placeholder {
  color: #ce9797;
}

input {
  color: black;
  font-size: 16px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (min-width: 900px) {
  .img-mobile {
    display: none;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3rem auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-text {
    padding: 40px 90px;
  }
  .box-text > img {
    margin-bottom: 180px;
  }
  h1 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 40px;
  }
  body {
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .box-img {
    border-radius: 0 0.5rem 0.5rem 0;
    overflow: hidden;
  }
}

@media screen and (max-width: 900px) {
  body {
    padding: 0;
  }
  .img-desktop {
    display: none;
  }
  .container {
    max-width: 350px;
    margin: 0 auto 30px auto;
    display: block;
  }
  .box-text {
    text-align: center;
  }
  .logo {
    margin: 30px 20px;
    height: auto;
    width: 120px;
    float: left;
  }
  h1 {
    margin: 0 auto 20px auto;
  }
  p {
    margin: 0 auto 30px auto;
  }
  .img-mobile {
    margin-bottom: 60px;
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */